# Configurações da API
HOST =
PORT = 
RELOAD =

# Configurações banco de dados
DB_SGDB =
DB_NAME =

# Caso seja diferente de sqlite
DB_HOST =
DB_USER = 
DB_PASS = 

# Configurações Segurança da API - JWT
# Para obter uma cadeia de caracteres execute no gitbash: openssl rand -hex 32
# Ou crie uma chave secreta super forte, devendo mudar em produção
# Não utilize a do exemplo!
SECRET_KEY = 
ALGORITHM = 
ACCESS_TOKEN_EXPIRE_MINUTES = 
REFRESH_TOKEN_EXPIRE_DAYS = 